.cred{color: red;}

.bgyellow{background-color: yellow;}

.bcblue{background-color: blue;}

.txtwhite{color: transparent;}

.mb50{margin-bottom: 50px;}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.spacebetween{justify-content: space-between;}

.w30{width: 30%;}

.txtcenter{text-align: center;}
.display{display: none;}

.card{border: 4px black solid;width: 30%;}

.btn{border: 2px solid; background-color: rgb(255, 0, 0);border-radius: 3px;}